{% extends 'base.html' %}

{% block title %}
SEKELE - Announcement List
{% endblock %}

{% block css %}

<style>
    * {
        margin: 0%;
        padding: 0%;
        font-family: poppins;
    }

    a {
        text-decoration: none;
    }

    h1 {
        margin: 0.5% 0px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 200%;
        color: #6320EE;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h3 {
        text-align: center;
    }

    .container-fluid {
        margin-top: 4%;
    }

    .container {
        margin-top: 10px;
    }

    /*.row{
            margin: 2% 1%;
        }*/

    #purplebg {
        background-color: #6320EE;
        color: white;
    }

    #purplebg:hover {
        background-color: #6338BC;
    }

    #whitebg {
        border-color: #6320EE;
        background-color: white;
        color: #6320EE;
    }

    #whitebg:hover {
        color: #6320EE;
        border-color: white;
    }

    .card {
        margin: 5%;
    }

    img.card-img-top {
        width: 100%;
        height: 15vw;
    }

    .btnenroll {
        display: flex;
        justify-content: center;
    }

    .search-box {
        margin: 0.5% 0px;
    }

    input[type='text'] {
        float: right;
        width: 50%;
    }

    p {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex text-white">
        <div class="p-2 flex-fill">
            <h1 id="judulpage">Search Announcement Here</h1>
        </div>
        <div class="p-2 flex-fill search-box">
            <input type="text" class="form-control" name="q" id="keyword" aria-describedby="emailHelp"
                placeholder="Search Announcement Title" autocomplete="off">
        </div>
    </div>
</div>
<div class="container">
    <div id="result"
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 d-flex justify-content-center"
        style="margin: 2% 1%;">
    </div>
</div>

<script type="text/javascript">

    const varAn = $("#keyword").val();

    $("#keyword").ready(function () {
        search_announcement($("#keyword").val());
    })

    $("#keyword").keyup(function () {
        search_announcement($("#keyword").val());
    })

    console.log(varAn);

    function search_announcement(input) {
        $.ajax({

            url: '/announcement/search/?q=' + input,

            success: function (data) {
                //assign items into array_items
                var array_items = data;
                $("#result").empty();
                
                var judulP = $("#judulpage");
                if (array_items.length == 0) {
                    $("#result").append(
                        "<div class=" + "row " + "style=" + "margin:2% 1%;" + ">" +
                        "<div class=card>" +
                        "<div class=" + "card-body" + ">" +
                        "<h3 class=" + "card-title" + ">" + "<b>" + "Not Found" + "</b></h3>" +
                        "<div class=" + "btnenroll" + ">" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>"
                    );
                } else if(array_items.length < {{AnnList|length}}){
                    judulP.html("Search Result");
                } else {
                    judulP.html("Search Announcement Title");
                }

                //iterate every items in array_items
                for (i = 0; array_items.length; i++) {
                    //getting the title of the books
                    var index = array_items[i];

                    var judul = index.judulAn;
                    var image = "/static/images/defaultAn.jpg";
                    var linkView = "/announcement/" + index.id + "/view";
                    var class_btn = "btn btn-primary";
                    var dflex = "d-flex justify-content-center"

                    $("#result").append(
                        "<div class=" + "row " + "style=" + "margin:2% 1%;" + ">" +
                        "<div class=card>" +
                        "<img " + "class=" + "card-img-top " + "src=" + image + ">" +
                        "<div class=" + "card-body" + ">" +
                        "<h3 class=" + "card-title" + ">" + "<b>" + judul + "</b></h3>" +
                        "<div class=" + "btnenroll" + ">" +
                        "<a href=" + linkView + " id=purplebg " + "class=" + "btn" + ">" + "View" + "</a > " +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>"
                    );
                }
                
            }
        });
    }
</script>

{% endblock  %}