{% extends 'base.html' %}

{% block title %}
SEKELE - Course List
{% endblock %}

{% block css %}

<style>
    * {
        margin: 0%;
        padding: 0%;
        font-family: poppins;
    }

    a {
        text-decoration: none;
    }

    h1 {
        margin: 0.5% 0px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 200%;
        color: #6320EE;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h3 {
        text-align: center;
    }

    .container-fluid {
        margin-top: 4%;
    }

    .container {
        margin-top: 10px;
    }

    /*.row{
            margin: 2% 1%;
        }*/

    #purplebg {
        background-color: #6320EE;
        color: white;
    }

    #purplebg:hover {
        background-color: #6338BC;
    }

    #whitebg {
        border-color: #6320EE;
        background-color: white;
        color: #6320EE;
    }

    #whitebg:hover {
        color: #6320EE;
        border-color: white;
    }

    .card {
        margin: 5%;
    }

    img.card-img-top {
        width: 100%;
        height: 15vw;
    }

    .btnenroll {
        display: flex;
        justify-content: center;
    }

    .search-box {
        margin: 0.5% 0px;
    }

    input[type='text'] {
        float: right;
        width: 50%;
    }

    p {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex text-white">
        <div class="p-2 flex-fill">
            {% if object_list != null %}
            <h1>Hasil Pencarian</h1><a href="/course/list/">kembali</a>
            {% else %}
            <h1>Add your Course Here</h1>
            {% endif %}
        </div>
        <div class="p-2 flex-fill search-box">
            <input type="text" class="form-control" name="q" id="keyword" aria-describedby="emailHelp"
                placeholder="Search your course here" autocomplete="off">
        </div>
    </div>
</div>
<div class="container">
    <div id="result"
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 d-flex justify-content-center"
        style="margin: 2% 1%;">
    </div>
</div>

<script type="text/javascript">

    const vara = $("#keyword").val();

    $("#keyword").ready(function () {
        search_course($("#keyword").val());
    })

    $("#keyword").keyup(function () {
        search_course($("#keyword").val());
    })

    $("#keyword").keypress(function () {
        search_course($("#keyword").val());
    })

    console.log(vara);

    function search_course(input) {
        $.ajax({

            url: '/course/search/?q=' + input,

            success: function (data) {
                //assign items into array_items
                var array_items = data;
                $("#result").empty();

                //iterate every items in array_items
                for (i = 0; array_items.length; i++) {
                    //getting the title of the books
                    var index = array_items[i];

                    var course = index.name;
                    var image = "/static/images/" + index.image;
                    var description = index.description;
                    var link_enroll = "/course/enroll/" + index.id;
                    var class_btn = "btn btn-primary";
                    var dflex = "d-flex justify-content-center"

                    $("#result").append(
                        "<div class=" + "row " + "style=" + "margin:2% 1%;" + ">" +
                        "<div class=card>" +
                        "<img " + "class=" + "card-img-top " + "src=" + image + ">" +
                        "<div class=" + "card-body" + ">" +
                        "<h3 class=" + "card-title" + ">" + "<b>" + course + "</b></h3>" +
                        "<p class=" + "card-text" + ">" + description + "</p>" +
                        "<div class=" + "btnenroll" + ">" +
                        "<a href=" + link_enroll + " id=purplebg " + "class=" + "btn" + ">" + "Enroll" + "</a > " +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>"
                    );
                }
            }
        });
    }
</script>

{% endblock  %}