{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEKELE</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
    rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <style>
        *{
            margin: 0%;
            padding: 0%;
            font-family: poppins;
        }

        body{
            background-image: url('{% static "images/background.jpg"%}');
            background-attachment: fixed;
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container{
            height: 80vh;
            margin-top: 5%;
        }

        h1{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 80px;
            line-height: 136px;
            /* identical to box height */
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: #211A1D;
            margin-top: 10%;
        }

        p{
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 151.1%;
            /* or 27px */

            display: flex;
            align-items: center;
            letter-spacing: 0.05em;

            color: #211A1D;
        }

        .btn{
            width: 140px;
            height: auto;
            background-color: #6320EE;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 27px;
            letter-spacing: 0.05em;
            color: #FBFBFB;
            margin-right: 10px;
        }

        #purplebg:hover{
            background-color: #6338BC;
        }

        #whitebg{
            border-color: #6320EE;
            background-color: white;
            color: #6320EE;
        }   

        #whitebg:hover{
            border-color: white ;
        }

    </style>

</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <p>Welcome to our website, an education <br>  website platform for during pandemic <br> Covid-19</p>
        <a href=" {% url 'account:register' %}" id="purplebg" class="btn btn-primary"> Sign Up</a>
        <a href="{% url 'account:login' %}" id="whitebg" class="btn btn-outline-primary" id="whitebg">Login</a>
    </div>
</body>
</html>